header {
  margin-top: 36px;
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  width: 100%;

  .header-logo-name {
    display: flex;
    align-items: center;
    margin-left: 58px;

    h1 {
      margin: 0;
      font-size: 36px;
      font-weight: 600;
      min-width: 220px;
    }

    h1::before {

    }
  }

  .header-info {
    display: flex;
    flex-flow: row nowrap;
    font-size: 16px;
    font-weight: 600;
    margin-left: 72px;

    > p {
      min-width: 230px;
      margin: 0;
      display: flex;
      align-items: center;
    }
  }

  .header-contact {
    margin-left: auto;
    margin-right: 89px;

    .button-contact-me {
      border: 0;
      border-radius: 29px;
      display: block;
      width: 165px;
      height: 57px;
      font-size: 15px;
      font-weight: 600;
      margin-right: 17px;
      background-color: #E4F3EC;
      color: #000000;
    }
  }
}